.task {
    background-color: #f4f4f4;
    margin:1rem;
    padding:1rem;
    cursor:pointer;
}

.reminder{
    border-left: 0.5rem solid green;
}

.text{
    display:flex;
    justify-content:space-between;
}